.Notifications {
    padding: 3em;
    border: 1px dashed red;
    position: absolute;
    top: 21px;
    right: 7px;
    margin-top: 13px;
}

.Notifications > ul > .default {
    color: blue;
}

.Notifications > ul > .urgent {
    color: red;
}

.menuItem{
    position: absolute;
    top: 7px;
    right: 7px;
}